.card-container {
    -webkit-perspective: 500px;
            perspective: 500px;
}

.card-container:hover .card{
    -webkit-transform: rotateY( 180deg );
            transform: rotateY( 180deg );
}

.card {
    -webkit-transition: -webkit-transform 0.7s;
            transition: transform 0.7s;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.front, .back {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.back {
    -webkit-transform: rotateY( 180deg );
            transform: rotateY( 180deg );
            background-color: #f8e5c7;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
}

.cards-container{
   display: -webkit-flex;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-flex-direction: row;
   -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
       -ms-flex-direction: row;
           flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

img {
    width: 300px;
    height: 500px;
}

.card {
  width: 300px;
	height: 500px;
  margin: auto;
  margin-top: 10px;
}

.card p {
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #1a1218;
    font-weight: bolder;
}

h3.card-title {
    font-size: 20px;
    text-align: center;
    font-family: 'Gabriela', serif;
}

.front, .back {
  box-shadow: 0 1px 6px 0;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

.card img {
  display: block;
}

 