object {
    height: 100px;
    width: 200px;
    position: fixed;
    top:50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}

.swirl-out-bck {
	-webkit-animation: swirl-out-bck 0.6s ease-out 3.7s both;
	        animation: swirl-out-bck 0.6s ease-out 3.7s both;
}

@-webkit-keyframes swirl-out-bck {
    0% {
      -webkit-transform: rotate(0) scale(1);
              transform: rotate(0) scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-540deg) scale(0);
              transform: rotate(-540deg) scale(0);
      opacity: 0;
    }
  }
  @keyframes swirl-out-bck {
    0% {
      -webkit-transform: rotate(0) scale(1);
              transform: rotate(0) scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-540deg) scale(0);
              transform: rotate(-540deg) scale(0);
      opacity: 0;
    }
  }
  